*{
	outline: none;
}
html, body{
	background: #e74c3c;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	height: 100%;
	font-family: "Work Sans"
}
#intro #text{
	font-size: 80px;
	font-weight: 800;
	width: 10.2em;
	height: 1.5em;
	position: absolute;
	left: 56%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#intro #intro-button {
    position: absolute;
    left:49%;
    top: 75%;
    transform: translate(-50%, -50%);
}

#intro #intro-button #start {
    font-size: 15px;
    background: none;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    width: 125px;
    height: 40px;
    display: none;
    cursor: pointer;
}

#menu {
    position: absolute;
    right: 20px;
    top: 10px;
}

#menu ul {list-style: none;}

#menu ul li {
    margin: 5px 0px;
    text-align: right;
    display: none;
}

#menu ul li a {
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
	color: black;
}
#menu ul li a:hover {
	border-left:3px solid black;
	padding-left:5px;

}
#menu ul li.active a {
	border-bottom:3px solid black;

}
#menu ul li.active a:hover {
	border-left:none;

}
#what_we_do img{
	margin: 110px 0px 0px 60px;
	border: 10px solid #f1f1f1;
	border-radius: 3px;
	width: 410px;
}
h3.judul{
	position: absolute;
	top: -10px;
	left: 520px;
	font-size: 80px;
	text-transform:uppercase;
}
#what_we_do div{
	width: 650px;
	position: absolute;
	top: 140px;
	font-size: 19px;
	left: 530px;
	text-align: justify;
}
.container-content{
	display: none;
}
#out_team{
	margin-left: 70px;
}
#out_team .member{
	float: left;
	margin:0px 10px;
	background: white;
	padding: 5px 5px 15px 5px;
	border-radius: 3px;
}
#out_team .member.top240{
	margin-top: 200px;
}
#out_team .member.top170{
	margin-top: 150px;
}
#out_team .member img{
	width: 230px;
}
#our_team .member h3{
	font-size: 17px;
	font-weight: 600;
	margin: 5px 0px 2px 0px;
}
#out_team .member span{
	font-size: 12px;
	font-style: italic;
}





